.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 80px;
    border: 1px solid #9dc5f3;
    cursor: pointer;
    outline: none;
}

.BuildControl button:disabled {
    background-color: #1f232700;
    border: 1px solid #e6e6e3;
    color: #ccc;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #1f232700;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #2068c7;
    color: white;
}

.BuildControl .More {
    background-color: #2068c7;
    color: white;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
    background-color: #006eff;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #006eff;
    color: white;
}