.Navigationitems{
    margin: 0 5px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    height: 100%;
    align-items: center;
}

@media (min-width:500px){
    .Navigationitems{
        flex-flow: row;
    }
}
